<div class="body-chatroom">
  <div class= container-chatroom>
    <%= link_to "Retour à mon profil", reservations_path, class:"btn return"%>
    <div class="d-flex window">
      <div class="list-group bg-white br-light">
        <span class="title-chat d-flex">Discussions</span>
        <% general_chatroom = Chatroom.find_by(name:"Bienvenue")%>
        <%= link_to "Bienvenue", chatroom_path(general_chatroom), class: "list-group-item active'" %>
        <% @chatrooms.each do |chatroom| %>
          <% if @current_user.role == "junior" && chatroom.id != general_chatroom.id%>
            <% user_senior = chatroom.user_senior%>
            <%= link_to "#{user_senior.first_name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
          <% end %>
          <% if @current_user.role == "senior" && chatroom.id != general_chatroom.id%>
            <% user_junior = chatroom.user_junior%>
            <%= link_to "#{user_junior.first_name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
          <% end%>
        <% end %>
      </div>

      <div class="chatroom">

        <div>
        <h1><%= @chatroom.name %></h1>
        </div>

        <div>
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>

          <%= simple_form_for [ @chatroom, @message ] do |f| %>
            <%= f.hidden_field current_user, value: current_user.first_name %>
            <%= f.input :content, label: false, placeholder: "Tapez votre message ici" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
