<div class="padding-top-140">
  <div class="background-color-top"></div>

  <div class="container-resa">
    <div class= "profile-top">
      <div class="profile-infos col-lg-9">
        <div class="profile-avatar col-lg-3">
          <% if current_user.avatar.attached? %>

            <%= cl_image_tag(current_user.avatar.key, :transformation=>[
              {:gravity=>"face", :height=>2000, :width=>2000, :crop=>"crop"},
              {:radius=>"max"},
              {:width=>200, :crop=>"scale"}
              ])
            %>
          <% else %>
            <%= image_tag "user.png" %>
          <% end %>

        </div>

        <div class="profile-description col-lg-8">
          <div>
            <h3><%= current_user.first_name %></h3>
            <p class="text-inscription-dashboard">Inscrit depuis <%= l(current_user.created_at, format: :medium) %></p>
          </div>
          <div class= "tools-notes-meal">
            <div class= "tools-notes">
              <div class="tools-title">
                <span>Note</span>
              </div>
              <div class="madda-fakking-stars">
                  <span>⭐️</span>
              </div>
              <div class="tools-numbers position-nb-stars">
                  <span>5</span>
              </div>
            </div>
            <div class="tools-meal">
              <% if current_user.role == "senior" %>
                <div class="tools-title">
                  <span>Nb d'invitations</span>
                </div>
                <div class="tools-numbers position-nb-offers"> 
                  <%=@my_offers.count%>
                </div>
              <% else %>
                <div class="tools-title">
                  <span>Nb de demandes</span>
                </div>
                <div class="tools-numbers position-nb-offers"> 
                  <%=current_user.reservations.count%>
                </div>
              <% end %>
            </div>
          </div>
        </div>      
      </div>
      <div class="profile-actions col-lg-3">
        <% chatroom = Chatroom.find_by(name:"Bienvenue")%>
        <%= link_to "Voir mes messages", chatroom_path(chatroom.id), class: "btn btn-custom" %>
        <%= link_to "Editer mon profil", edit_user_registration_path, class: "btn btn-custom-edit" %>
      </div>
    </div>

    <div class="dashboard-content">
      <%= render('reservations/partials/header') %>
      <%= render('reservations/partials/seniors/offers') if current_user.role == 'senior' %>
      <%= render('reservations/partials/calendar') %>
    </div>
  </div>
</div>