<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%# <%= link_to "Log in with Google", 'auth/google_oauth2' %> 
<%# <%= render "devise/shared/links" %> 


<%# omniauth-google-oauth2 1.0.0 uses OmniAuth 2 and requires using HTTP Post to initiate authentication: %>
<!--
<#%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
--> 


<%# omniauth-google-oauth2 prior 1.0.0: %>
<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>


<!-- 
<%# Devise prior 4.1.0: %>
<#%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path(:google_oauth2) %> %>
-->

<%= link_to "Coucou google testlink", user_google_oauth2_omniauth_authorize_path %>
