<h1>Offers#edit</h1>
<%= simple_form_for @offer do |f| %>
  <%= f.input :title %>
  <%= f.input :address %>
  <%= f.input :date %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :meal %>
  <%= f.submit %>
<% end %>
