<h1 class="title">Nous avons trouvé<span class="color"> 234 offres</span></h1>
<div class="contenaire">
  <% @offers.each do |offer| %>
    <div class="wrapper">
      <img class="img"><%= cl_image_tag(offer.photo.key.to_s, width: 150, height: 150, crop: :thumb, gravity: :face) %>
      <h1>Déjeuner avec Joel</h1>
        <p class="description"><%= offer.description %></p>
        <p class="tags">Lecture</p>
        <%= link_to "En savoir +", offer_path(offer), class:'cta-en-savoir-plus'%>
    </div>
  <% end  %>
</div>
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>">
</div>
<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>">


