<h1 class="title">Nous avons trouvé<span class="color"> <%= Offer.count %> offres</span></h1>
<div class="main-container">
  <% @offers.each do |offer| %>
    <div class="wrapper">
      <%= cl_image_tag(offer.photo.key.to_s, class:"plat", width: 150, height: 150, crop: :thumb, gravity: :face) %>
      <h1><%= offer.title %> </h1>
        <p class="description"><%= offer.description %></p>
        <p class="tags">Lecture</p>
        <%= link_to "En savoir +", offer_path(offer), class:'cta-en-savoir-plus'%>
    </div>
  <% end  %>
    <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>"></div>
</div>


