<div class="container-form">
  <h1 class="title-new-offer">Créer une invitation </h1>
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title, label: "Quel est le titre de votre repas :"%>
    <%= f.input :address, label: "Quelle est l'adresse du repas :" %>
    <%= f.input :date, label: "Quelle est la date de votre repas:"%>
    <%= f.input :description, label: "Presentez vous:"%>
    <%= f.input :photo, as: :file, laber: "Une petite photo pour terminer ?" %>
    <%= f.input :tags, label: "N'hésitez pas à nous partager vos activités préférées"%>
    <%= f.submit %>
  <% end %>
</div>
