<div class="body">
  <div class="container">
    <%= link_to "Retour aux propositions", offers_path(), class: "btn" %>
      <div class="card">
        <div class="card-user-show">
          <div class="card-user-img">
            <%# @user.avatar %>
          </div>
          <div class="card-user-name">
            <h2><%= @offer.user.first_name %></h2>
          </div>
          <div class="card-user-description">
            <p><%= @offer.user.description %></p>
          </div>
        </div> 
        <div class="card-user-right">
            <% if @offer.photo.attached? %> 
              <%= cl_image_tag @offer.photo.key, class:"card-imagee"%>
            <% end  %>
          <div class="card-user-body">
            <div class="card-user-title">
              <h2><%= @offer.title %></h2>
            </div>
            <div class="card-user-date">
              <p><%= @offer.date %></p>
            </div>
            <div class="card-user-adress">
              <p><%= @offer.address %></p>
            </div>
            <div class="card-user-description">
              <p><%= @offer.description %></p>
            </div>
            <div class="btn-reservation">
            </div>
          </div>
        </div>
      </div>
  </div>  
</div>