<h1>Proposition de diner</h1>
<h2><%= @offer.title %></h2>
<p><%= @offer.address %></p>
<p><%= @offer.date %></p>
<p><%= @offer.description %></p>
<p><%= @offer.photo %></p>
<p><%= @offer.meal %></p>
